@tailwind base;
@tailwind components;
@tailwind utilities;

*,
htlm {
  font-family: "Mulish", sans-serif;
}

.markdown {
  font-family: "Fira Code", monospace !important;
}
code {
  font-family: "Fira Code", monospace !important;
}
